.cardSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 32px;
}

.card {
    width: 352px;
    height: 540px;
    border-radius: 16px;
    border: 1px solid rgba(17, 17, 17, 0.04);
    padding: 20px;
    box-shadow: 0 51px 48px rgba(17, 17, 17, 0.12);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cardContent {
    margin-top: 20px;
}
.imageContainer {
    width: 312px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
}


.cardTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #111111;
    text-align: center;
    width: 312px;
}

.cardParagraph {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    letter-spacing: -0.02em;
    width: 312px;
}

.cardButton {
    width: auto;
    min-width: 187px;
    height: 56px;
    border-radius: 100px;
    padding: 0 24px;
    background-color: #5C24FF;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 22px rgba(92, 36, 255, 0.32);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cardButton:hover {
    background-color: #7000FF;
}